  :root {
      --primary-font: 'Roboto', sans-serif;
      --secondery-font: 'Raleway', sans-serif;

      --color-iris: #4d5ae5;
      --color-ocean: #404bbf;
      --color-navy-blue: #2e2f42;
      --color-green: #31d0aa;
      --color-slate: #434455;
      --color-light-slate: #8e8f99;
      --color-cornflower: #e7e9fc;
      --color-cloud: #f4f4fd;
      --color-navy-blue-modal: #2e2f42;
      --color-grey: #2e2f42;
      --color-white: #ffffff;
      --color-dairy: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  font-family: var(--secondery-font);

  color: var(--color-navy-blue);
  background-color: var(--color-white);
}

.list {
    list-style: none;
}

/* logo */

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-iris);
}

.logo-dark {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-navy-blue);
}

.logo:hover,
.logo:focus {
    color: var(--color-iris);
}

/* site-nav */

.site-nav .link {
    color: var(--color-navy-blue);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-iris);
}

.auth-nav .link {
  color: var(--color-slate)
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--color-iris);

}

/* hero */

.hero {
    color: var(--color-white);
    background: var(--color-navy-blue);
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-iris);
}

/* section */

.section-title {
    color: var(--color-navy-blue);
}

.subtitle {
    color: var(--color-navy-blue)
}

.text {
    color: var(--color-slate);
}

/* footer */
.footer {
    background: var(--color-navy-blue);
}

.logo-light {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-cloud);
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-cloud);
}

/*filter-button  */

.filter-button {
  font-family: inherit; 
  background-color: var(--color-white);
}

.filter-btn{
color: var(--color-iris);;
}

.filter-btn:hover,
.filter-button:focus {
  color: var(--color-cornflower);
  background-color: var(--color-iris);
}

.filter-btn:active {
  color: var(--color-iris);
  background-color: var(--color-cornflower);

}